<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum esse necessitatibus quisquam! Similique fugit dignissimos, magnam est iure neque nesciunt nemo repudiandae maiores, numquam sunt recusandae alias fuga quibusdam non?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum esse necessitatibus quisquam! Similique fugit dignissimos, magnam est iure neque nesciunt nemo repudiandae maiores, numquam sunt recusandae alias fuga quibusdam non?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum esse necessitatibus quisquam! Similique fugit dignissimos, magnam est iure neque nesciunt nemo repudiandae maiores, numquam sunt recusandae alias fuga quibusdam non?</p>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>